.social-signin{
    margin: .5rem auto 0;
}

.recovery{
    display: block;
    width: 100%;
    margin: 1.5rem auto 0;

    a{
        color: black;
        font-size: 1.3rem;
        cursor: pointer;
    }
}