.search-bar{

    form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        

        .search-input{
            flex: 4;
            input{
                height: 2.5rem;
            }
        }
        .search-btn{
            flex: 1;
            margin-top: .6rem;
            button{
                height: 2.5rem;
            }
        }
    }
}