.footer{
    margin-top: .4rem;
    width: 100%;
    .wrapper{
        padding: .5rem;
        box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.2);
        
        .legend{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0 auto;
            font-size: 1rem;
        }
    }
}